<div ngxUiLoaderBlurred blur="10">
  <div class="nav_container">
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top"  style="background-color: #007ad9" >
      <a class="navbar-brand" [routerLink]="['/dashboard']">UGS APPLICATION</a>
      <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
              aria-expanded="false" aria-label="Toggle navigation"></button>
      <div class="collapse navbar-collapse" id="collapsibleNavId" id="maindiv">
        <div class="div1">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0 menu1">
            <li class="nav-item " *ngIf="this.authService.isLoggedIn()">
              <a class="nav-link" [routerLink]="['/dashboard']" routerLinkActive="router-link-active"> <span><i class="fal fa-chart-bar"></i></span> Tableau de bord <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" ngbDropdown >
              <a class="nav-link"  style="cursor: pointer" ngbDropdownToggle id="navbarDropdown8" role="button" *ngIf="this.authService.isLoggedIn()" >
                <span> <i class="far fa-users" style="font-weight: 15px;"></i> </span>
                Gestion du personnel
              </a>
              <div ngbDropdownMenu aria-labelledby="navbarDropdown8" class="dropdown-menu animate slideIn">
                <a [routerLink]="['/employes']" class="dropdown-item" (click)="$event.preventDefault()">
                  <span><i class="far fa-list"></i></span> Liste du personnel</a>
                <a [routerLink]="['/employe/create']" class="dropdown-item" (click)="$event.preventDefault()" >
                  <span><i class="far fa-user-plus"></i></span>  Ajouter un employé</a>
              </div>
            </li>
            <li class="nav-item" ngbDropdown>
              <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdown1" *ngIf="this.authService.isLoggedIn()"
                 role="button"> <span> <i class="far fa-user-times"></i> </span> Gestion de permissions</a>
              <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu animate slideIn">
                <a [routerLink]="['/permissions']" class="dropdown-item" (click)="$event.preventDefault()" >
                  <span><i class="far fa-list"></i></span> Liste des permissions</a>
                <a [routerLink]="['/createpermission']" class="dropdown-item" (click)="$event.preventDefault()" >
                  <span><i class="far fa-plus"></i></span> Ajouter une permission</a>
              </div>
            </li>
            <li class="nav-item" ngbDropdown>
              <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdown2" *ngIf="this.authService.isLoggedIn()"
                 role="button"> <span><i class="far fa-user-clock"></i></span> Gestion de présence</a>
              <div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu animate slideIn">
                <a [routerLink]="['/timesheet/create']" class="dropdown-item" (click)="$event.preventDefault()" >
                  <span><i class="far fa-plus"></i></span> Feuille de présences</a>
                <a [routerLink]="['/timesheets']" class="dropdown-item" (click)="$event.preventDefault()">
                  <span><i class="far fa-list"></i></span> Rapport de présences</a>
              </div>
            </li>
            <li class="nav-item " *ngIf="this.authService.isLoggedIn()">
              <a class="nav-link" [routerLink]="['/rapport']" routerLinkActive="router-link-active"> <span><i class="fal fa-chart-bar"></i></span> Rapports <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
        <div class="div2">
          <ul class="navbar-nav ml-1">
            <li class="nav-item" *ngIf="this.authService.isLoggedIn()">
              <a [routerLink]="['/login']" class="nav-link" (click)="logOut()"> <span><i class="far fa-sign-out"></i></span>Se déconnecter</a>
            </li>
            <li class="nav-item">
              <a  [routerLink]="['/admin']" class="nav-link">Admin</a>
            </li>
          </ul>
        </div>

      </div>
    </nav>
  </div>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>
<ngx-ui-loader></ngx-ui-loader>

